body {
  background-color: black;
  color:white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
body,body *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}
h1{
  font-size: 82px;
  color: #FFF000;
}
h2{
  margin-bottom: 20px;
}
h2 span {
  color: greenyellow;
}
.pacman-img{
  width: 30px;
  height: 30px;
  transform: rotate(0deg);
}
.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}

/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */
table{
  border:1px solid rgba(255, 255, 255, 0.199);
}
.board-container{
  position: relative;
}
.modal-container{
  background-color: black;
  border: 2px solid blue;
  text-align: center;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 330px;
  z-index: 1;
}
.gameover-btn{
  padding: 16px 60px;
  border: 1px solid orangered;
  background-color: black;
  color: white;
  font-size: 1em;
}
.hidden{
  display: none;
}

.pac-up{
  transform: rotate(-90deg);
}